Repository bsalter/architect-2-xj6f1a, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-maintainers, @auth-team, @security-lead, @backend-team, @interaction-lead, @site-context-lead, @qa-team, @frontend-team, @ui-lead, @forms-lead, @e2e-test-lead, @devops-team, @infrastructure-lead, @ci-lead, @documentation-team, @tech-writer

Add public-samples/architect-2-xj6f1a/src/web/src/components/finder/TableSkeleton.tsx
  src/web/src/components/finder/TableSkeleton.tsx
Owners: @frontend-team, @ui-lead

Add public-samples/architect-2-xj6f1a/src/web/src/components/interaction/DateTimeSelector.tsx
  src/web/src/components/interaction/DateTimeSelector.tsx
Owners: @frontend-team, @forms-lead

Add public-samples/architect-2-xj6f1a/src/web/src/components/interaction/DeleteConfirmation.tsx
  src/web/src/components/interaction/DeleteConfirmation.tsx
Owners: @frontend-team, @forms-lead

Add public-samples/architect-2-xj6f1a/src/web/src/components/interaction/FormActions.tsx
  src/web/src/components/interaction/FormActions.tsx
Owners: @frontend-team, @forms-lead

Add public-samples/architect-2-xj6f1a/src/web/src/components/interaction/InteractionForm.tsx
  src/web/src/components/interaction/InteractionForm.tsx
Owners: @frontend-team, @forms-lead

Add public-samples/architect-2-xj6f1a/src/web/src/components/interaction/InteractionFormSkeleton.tsx
  src/web/src/components/interaction/InteractionFormSkeleton.tsx
Owners: @frontend-team, @forms-lead

Add public-samples/architect-2-xj6f1a/src/web/src/components/interaction/TypeSelector.tsx
  src/web/src/components/interaction/TypeSelector.tsx
Owners: @frontend-team, @forms-lead

Add public-samples/architect-2-xj6f1a/src/web/src/components/interaction/ValidationErrors.tsx
  src/web/src/components/interaction/ValidationErrors.tsx
Owners: @frontend-team, @forms-lead

Add public-samples/architect-2-xj6f1a/src/web/src/components/layout/AuthLayout.tsx
  src/web/src/components/layout/AuthLayout.tsx
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/web/src/components/layout/Footer.tsx
  src/web/src/components/layout/Footer.tsx
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/web/src/components/layout/Header.tsx
  src/web/src/components/layout/Header.tsx
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/web/src/components/layout/MainLayout.tsx
  src/web/src/components/layout/MainLayout.tsx
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/web/src/components/layout/Sidebar.tsx
  src/web/src/components/layout/Sidebar.tsx
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/web/src/components/layout/SiteSelector.tsx
  src/web/src/components/layout/SiteSelector.tsx
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/web/src/components/layout/UserMenu.tsx
  src/web/src/components/layout/UserMenu.tsx
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/web/src/components/shared/Breadcrumbs.tsx
  src/web/src/components/shared/Breadcrumbs.tsx
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/web/src/components/shared/ConfirmDialog.tsx
  src/web/src/components/shared/ConfirmDialog.tsx
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/web/src/components/shared/ErrorBoundary.tsx
  src/web/src/components/shared/ErrorBoundary.tsx
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/web/src/components/shared/HelperText.tsx
  src/web/src/components/shared/HelperText.tsx
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/web/src/components/shared/LoadingScreen.tsx
  src/web/src/components/shared/LoadingScreen.tsx
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/web/src/components/shared/NotFound.tsx
  src/web/src/components/shared/NotFound.tsx
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/web/src/components/shared/Notifications.tsx
  src/web/src/components/shared/Notifications.tsx
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/web/src/components/shared/PageHeader.tsx
  src/web/src/components/shared/PageHeader.tsx
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/web/src/components/ui/Alert.tsx
  src/web/src/components/ui/Alert.tsx
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/web/src/components/ui/Badge.tsx
  src/web/src/components/ui/Badge.tsx
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/web/src/components/ui/Button.tsx
  src/web/src/components/ui/Button.tsx
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/web/src/components/ui/Card.tsx
  src/web/src/components/ui/Card.tsx
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/web/src/components/ui/Checkbox.tsx
  src/web/src/components/ui/Checkbox.tsx
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/web/src/components/ui/DatePicker.tsx
  src/web/src/components/ui/DatePicker.tsx
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/web/src/components/ui/FormField.tsx
  src/web/src/components/ui/FormField.tsx
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/web/src/components/ui/Input.tsx
  src/web/src/components/ui/Input.tsx
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/web/src/components/ui/Modal.tsx
  src/web/src/components/ui/Modal.tsx
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/web/src/components/ui/Pagination.tsx
  src/web/src/components/ui/Pagination.tsx
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/web/src/components/ui/Select.tsx
  src/web/src/components/ui/Select.tsx
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/web/src/components/ui/Spinner.tsx
  src/web/src/components/ui/Spinner.tsx
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/web/src/components/ui/Table.tsx
  src/web/src/components/ui/Table.tsx
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/web/src/components/ui/Tabs.tsx
  src/web/src/components/ui/Tabs.tsx
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/web/src/components/ui/TextArea.tsx
  src/web/src/components/ui/TextArea.tsx
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/web/src/components/ui/TimePicker.tsx
  src/web/src/components/ui/TimePicker.tsx
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/web/src/components/ui/TimezoneSelect.tsx
  src/web/src/components/ui/TimezoneSelect.tsx
Owners: @project-maintainers

.github/CODEOWNERS:

# When pull requests are created that modify code in these defined areas, the configured
# owners will be automatically requested for review.
#
# For more information about CODEOWNERS, see:
# https://docs.github.com/en/repositories/managing-your-repositories-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repo (fallback)
* @project-maintainers

# Backend code ownership
src/backend/auth/* @auth-team @security-lead
src/backend/interactions/* @backend-team @interaction-lead
src/backend/sites/* @backend-team @site-context-lead
src/backend/tests/* @qa-team @backend-team

# Frontend code ownership
src/web/src/components/auth/* @frontend-team @auth-team
src/web/src/components/finder/* @frontend-team @ui-lead
src/web/src/components/interaction/* @frontend-team @forms-lead
src/web/tests/* @qa-team @frontend-team
src/web/cypress/* @qa-team @e2e-test-lead

# Infrastructure and DevOps
infrastructure/* @devops-team @infrastructure-lead
.github/workflows/* @devops-team @ci-lead

# Documentation
docs/* @documentation-team @tech-writer
*.md @documentation-team
