Repository bsalter/architect-2-xj6f1a, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-maintainers, @auth-team, @security-lead, @backend-team, @interaction-lead, @site-context-lead, @qa-team, @frontend-team, @ui-lead, @forms-lead, @e2e-test-lead, @devops-team, @infrastructure-lead, @ci-lead, @documentation-team, @tech-writer

.github/CODEOWNERS:

# When pull requests are created that modify code in these defined areas, the configured
# owners will be automatically requested for review.
#
# For more information about CODEOWNERS, see:
# https://docs.github.com/en/repositories/managing-your-repositories-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repo (fallback)
* @project-maintainers

# Backend code ownership
src/backend/auth/* @auth-team @security-lead
src/backend/interactions/* @backend-team @interaction-lead
src/backend/sites/* @backend-team @site-context-lead
src/backend/tests/* @qa-team @backend-team

# Frontend code ownership
src/web/src/components/auth/* @frontend-team @auth-team
src/web/src/components/finder/* @frontend-team @ui-lead
src/web/src/components/interaction/* @frontend-team @forms-lead
src/web/tests/* @qa-team @frontend-team
src/web/cypress/* @qa-team @e2e-test-lead

# Infrastructure and DevOps
infrastructure/* @devops-team @infrastructure-lead
.github/workflows/* @devops-team @ci-lead

# Documentation
docs/* @documentation-team @tech-writer
*.md @documentation-team

Add public-samples/architect-2-xj6f1a/src/backend/.gitignore
  src/backend/.gitignore
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/backend/README.md
  src/backend/README.md
Owners: @documentation-team

Add public-samples/architect-2-xj6f1a/src/backend/alembic.ini
  src/backend/alembic.ini
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/backend/app.py
  src/backend/app.py
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/backend/config.py
  src/backend/config.py
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/backend/extensions.py
  src/backend/extensions.py
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/backend/gunicorn.conf.py
  src/backend/gunicorn.conf.py
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/backend/pyproject.toml
  src/backend/pyproject.toml
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/backend/requirements.txt
  src/backend/requirements.txt
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/backend/setup.py
  src/backend/setup.py
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/backend/wsgi.py
  src/backend/wsgi.py
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/backend/api/__init__.py
  src/backend/api/__init__.py
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/backend/api/error_handlers.py
  src/backend/api/error_handlers.py
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/backend/api/routes.py
  src/backend/api/routes.py
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/backend/auth/__init__.py
  src/backend/auth/__init__.py
Owners: @auth-team, @security-lead

Add public-samples/architect-2-xj6f1a/src/backend/auth/controllers.py
  src/backend/auth/controllers.py
Owners: @auth-team, @security-lead

Add public-samples/architect-2-xj6f1a/src/backend/auth/middlewares.py
  src/backend/auth/middlewares.py
Owners: @auth-team, @security-lead

Add public-samples/architect-2-xj6f1a/src/backend/auth/models.py
  src/backend/auth/models.py
Owners: @auth-team, @security-lead

Add public-samples/architect-2-xj6f1a/src/backend/auth/routes.py
  src/backend/auth/routes.py
Owners: @auth-team, @security-lead

Add public-samples/architect-2-xj6f1a/src/backend/auth/services.py
  src/backend/auth/services.py
Owners: @auth-team, @security-lead

Add public-samples/architect-2-xj6f1a/src/backend/auth/utils.py
  src/backend/auth/utils.py
Owners: @auth-team, @security-lead

Add public-samples/architect-2-xj6f1a/src/backend/database/__init__.py
  src/backend/database/__init__.py
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/backend/database/models.py
  src/backend/database/models.py
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/backend/database/migrations/__init__.py
  src/backend/database/migrations/__init__.py
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/backend/database/migrations/env.py
  src/backend/database/migrations/env.py
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/backend/database/seeders/__init__.py
  src/backend/database/seeders/__init__.py
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/backend/database/seeders/seed_data.py
  src/backend/database/seeders/seed_data.py
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/backend/database/seeders/seed_interactions.py
  src/backend/database/seeders/seed_interactions.py
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/backend/database/seeders/seed_sites.py
  src/backend/database/seeders/seed_sites.py
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/backend/database/seeders/seed_users.py
  src/backend/database/seeders/seed_users.py
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/backend/interactions/__init__.py
  src/backend/interactions/__init__.py
Owners: @backend-team, @interaction-lead

Add public-samples/architect-2-xj6f1a/src/backend/interactions/controllers.py
  src/backend/interactions/controllers.py
Owners: @backend-team, @interaction-lead

Add public-samples/architect-2-xj6f1a/src/backend/interactions/models.py
  src/backend/interactions/models.py
Owners: @backend-team, @interaction-lead

Add public-samples/architect-2-xj6f1a/src/backend/interactions/repositories.py
  src/backend/interactions/repositories.py
Owners: @backend-team, @interaction-lead

Add public-samples/architect-2-xj6f1a/src/backend/interactions/routes.py
  src/backend/interactions/routes.py
Owners: @backend-team, @interaction-lead

Add public-samples/architect-2-xj6f1a/src/backend/interactions/schemas.py
  src/backend/interactions/schemas.py
Owners: @backend-team, @interaction-lead

Add public-samples/architect-2-xj6f1a/src/backend/interactions/services.py
  src/backend/interactions/services.py
Owners: @backend-team, @interaction-lead

Add public-samples/architect-2-xj6f1a/src/backend/scripts/__init__.py
  src/backend/scripts/__init__.py
Owners: @project-maintainers
