Repository bsalter/architect-2-xj6f1a, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-maintainers, @auth-team, @security-lead, @backend-team, @interaction-lead, @site-context-lead, @qa-team, @frontend-team, @ui-lead, @forms-lead, @e2e-test-lead, @devops-team, @infrastructure-lead, @ci-lead, @documentation-team, @tech-writer

.github/CODEOWNERS:

# When pull requests are created that modify code in these defined areas, the configured
# owners will be automatically requested for review.
#
# For more information about CODEOWNERS, see:
# https://docs.github.com/en/repositories/managing-your-repositories-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repo (fallback)
* @project-maintainers

# Backend code ownership
src/backend/auth/* @auth-team @security-lead
src/backend/interactions/* @backend-team @interaction-lead
src/backend/sites/* @backend-team @site-context-lead
src/backend/tests/* @qa-team @backend-team

# Frontend code ownership
src/web/src/components/auth/* @frontend-team @auth-team
src/web/src/components/finder/* @frontend-team @ui-lead
src/web/src/components/interaction/* @frontend-team @forms-lead
src/web/tests/* @qa-team @frontend-team
src/web/cypress/* @qa-team @e2e-test-lead

# Infrastructure and DevOps
infrastructure/* @devops-team @infrastructure-lead
.github/workflows/* @devops-team @ci-lead

# Documentation
docs/* @documentation-team @tech-writer
*.md @documentation-team

Add public-samples/architect-2-xj6f1a/.github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @documentation-team

Add public-samples/architect-2-xj6f1a/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @documentation-team

Add public-samples/architect-2-xj6f1a/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @documentation-team

Add public-samples/architect-2-xj6f1a/.github/ISSUE_TEMPLATE/question.md
  .github/ISSUE_TEMPLATE/question.md
Owners: @documentation-team

Add public-samples/architect-2-xj6f1a/.github/workflows/cd-dev.yml
  .github/workflows/cd-dev.yml
Owners: @devops-team, @ci-lead

Add public-samples/architect-2-xj6f1a/.github/workflows/cd-prod.yml
  .github/workflows/cd-prod.yml
Owners: @devops-team, @ci-lead

Add public-samples/architect-2-xj6f1a/.github/workflows/cd-staging.yml
  .github/workflows/cd-staging.yml
Owners: @devops-team, @ci-lead

Add public-samples/architect-2-xj6f1a/.github/workflows/ci.yml
  .github/workflows/ci.yml
Owners: @devops-team, @ci-lead

Add public-samples/architect-2-xj6f1a/blitzy/documentation/Input Prompt.md
  blitzy/documentation/Input Prompt.md
Owners: @documentation-team

Add public-samples/architect-2-xj6f1a/blitzy/documentation/Project Guide.md
  blitzy/documentation/Project Guide.md
Owners: @documentation-team

Add public-samples/architect-2-xj6f1a/blitzy/documentation/Technical Specifications.md
  blitzy/documentation/Technical Specifications.md
Owners: @documentation-team

Add public-samples/architect-2-xj6f1a/docs/README.md
  docs/README.md
Owners: @documentation-team

Add public-samples/architect-2-xj6f1a/docs/api/auth.md
  docs/api/auth.md
Owners: @documentation-team

Add public-samples/architect-2-xj6f1a/docs/api/interactions.md
  docs/api/interactions.md
Owners: @documentation-team

Add public-samples/architect-2-xj6f1a/docs/api/sites.md
  docs/api/sites.md
Owners: @documentation-team

Add public-samples/architect-2-xj6f1a/docs/architecture/backend.md
  docs/architecture/backend.md
Owners: @documentation-team

Add public-samples/architect-2-xj6f1a/docs/architecture/database.md
  docs/architecture/database.md
Owners: @documentation-team

Add public-samples/architect-2-xj6f1a/docs/architecture/frontend.md
  docs/architecture/frontend.md
Owners: @documentation-team

Add public-samples/architect-2-xj6f1a/docs/architecture/monitoring.md
  docs/architecture/monitoring.md
Owners: @documentation-team

Add public-samples/architect-2-xj6f1a/docs/architecture/overview.md
  docs/architecture/overview.md
Owners: @documentation-team

Add public-samples/architect-2-xj6f1a/docs/architecture/security.md
  docs/architecture/security.md
Owners: @documentation-team

Add public-samples/architect-2-xj6f1a/docs/guides/deployment.md
  docs/guides/deployment.md
Owners: @documentation-team

Add public-samples/architect-2-xj6f1a/docs/guides/development_setup.md
  docs/guides/development_setup.md
Owners: @documentation-team

Add public-samples/architect-2-xj6f1a/docs/guides/monitoring.md
  docs/guides/monitoring.md
Owners: @documentation-team

Add public-samples/architect-2-xj6f1a/docs/guides/troubleshooting.md
  docs/guides/troubleshooting.md
Owners: @documentation-team

Add public-samples/architect-2-xj6f1a/docs/project/requirements.md
  docs/project/requirements.md
Owners: @documentation-team

Add public-samples/architect-2-xj6f1a/docs/project/roadmap.md
  docs/project/roadmap.md
Owners: @documentation-team

Add public-samples/architect-2-xj6f1a/infrastructure/README.md
  infrastructure/README.md
Owners: @documentation-team

Add public-samples/architect-2-xj6f1a/infrastructure/backup/backup_plans.tf
  infrastructure/backup/backup_plans.tf
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/infrastructure/backup/backup_vaults.tf
  infrastructure/backup/backup_vaults.tf
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/infrastructure/docker/docker-compose.prod.yml
  infrastructure/docker/docker-compose.prod.yml
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/infrastructure/docker/docker-compose.yml
  infrastructure/docker/docker-compose.yml
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/infrastructure/monitoring/cloudwatch/alarms/application_alarms.json
  infrastructure/monitoring/cloudwatch/alarms/application_alarms.json
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/infrastructure/monitoring/cloudwatch/alarms/database_alarms.json
  infrastructure/monitoring/cloudwatch/alarms/database_alarms.json
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/infrastructure/monitoring/cloudwatch/alarms/security_alarms.json
  infrastructure/monitoring/cloudwatch/alarms/security_alarms.json
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/infrastructure/monitoring/cloudwatch/alarms/system_alarms.json
  infrastructure/monitoring/cloudwatch/alarms/system_alarms.json
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/infrastructure/monitoring/cloudwatch/dashboards/application.json
  infrastructure/monitoring/cloudwatch/dashboards/application.json
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/infrastructure/monitoring/cloudwatch/dashboards/database.json
  infrastructure/monitoring/cloudwatch/dashboards/database.json
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/infrastructure/monitoring/cloudwatch/dashboards/operations.json
  infrastructure/monitoring/cloudwatch/dashboards/operations.json
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/infrastructure/monitoring/cloudwatch/dashboards/security.json
  infrastructure/monitoring/cloudwatch/dashboards/security.json
Owners: @project-maintainers
