Repository bsalter/architect-2-xj6f1a, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-maintainers, @auth-team, @security-lead, @backend-team, @interaction-lead, @site-context-lead, @qa-team, @frontend-team, @ui-lead, @forms-lead, @e2e-test-lead, @devops-team, @infrastructure-lead, @ci-lead, @documentation-team, @tech-writer

Add public-samples/architect-2-xj6f1a/src/backend/scripts/apply_migrations.py
  src/backend/scripts/apply_migrations.py
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/backend/scripts/create_db.py
  src/backend/scripts/create_db.py
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/backend/scripts/generate_migration.py
  src/backend/scripts/generate_migration.py
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/backend/scripts/lint.sh
  src/backend/scripts/lint.sh
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/backend/scripts/reset_db.py
  src/backend/scripts/reset_db.py
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/backend/scripts/run_dev.sh
  src/backend/scripts/run_dev.sh
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/backend/scripts/setup_dev.sh
  src/backend/scripts/setup_dev.sh
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/backend/scripts/test.sh
  src/backend/scripts/test.sh
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/backend/sites/__init__.py
  src/backend/sites/__init__.py
Owners: @backend-team, @site-context-lead

Add public-samples/architect-2-xj6f1a/src/backend/sites/controllers.py
  src/backend/sites/controllers.py
Owners: @backend-team, @site-context-lead

Add public-samples/architect-2-xj6f1a/src/backend/sites/models.py
  src/backend/sites/models.py
Owners: @backend-team, @site-context-lead

Add public-samples/architect-2-xj6f1a/src/backend/sites/repositories.py
  src/backend/sites/repositories.py
Owners: @backend-team, @site-context-lead

Add public-samples/architect-2-xj6f1a/src/backend/sites/routes.py
  src/backend/sites/routes.py
Owners: @backend-team, @site-context-lead

Add public-samples/architect-2-xj6f1a/src/backend/sites/schemas.py
  src/backend/sites/schemas.py
Owners: @backend-team, @site-context-lead

Add public-samples/architect-2-xj6f1a/src/backend/sites/services.py
  src/backend/sites/services.py
Owners: @backend-team, @site-context-lead

Add public-samples/architect-2-xj6f1a/src/backend/tests/__init__.py
  src/backend/tests/__init__.py
Owners: @qa-team, @backend-team

Add public-samples/architect-2-xj6f1a/src/backend/tests/conftest.py
  src/backend/tests/conftest.py
Owners: @qa-team, @backend-team

Add public-samples/architect-2-xj6f1a/src/backend/tests/factories.py
  src/backend/tests/factories.py
Owners: @qa-team, @backend-team

Add public-samples/architect-2-xj6f1a/src/backend/tests/integration/__init__.py
  src/backend/tests/integration/__init__.py
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/backend/tests/integration/test_auth_api.py
  src/backend/tests/integration/test_auth_api.py
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/backend/tests/integration/test_interactions_api.py
  src/backend/tests/integration/test_interactions_api.py
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/backend/tests/integration/test_site_scoping.py
  src/backend/tests/integration/test_site_scoping.py
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/backend/tests/integration/test_sites_api.py
  src/backend/tests/integration/test_sites_api.py
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/backend/tests/unit/__init__.py
  src/backend/tests/unit/__init__.py
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/backend/tests/unit/test_auth.py
  src/backend/tests/unit/test_auth.py
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/backend/tests/unit/test_interactions.py
  src/backend/tests/unit/test_interactions.py
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/backend/tests/unit/test_sites.py
  src/backend/tests/unit/test_sites.py
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/backend/utils/__init__.py
  src/backend/utils/__init__.py
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/backend/utils/date_utils.py
  src/backend/utils/date_utils.py
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/backend/utils/logging.py
  src/backend/utils/logging.py
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/backend/utils/pagination.py
  src/backend/utils/pagination.py
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/backend/utils/security.py
  src/backend/utils/security.py
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/backend/utils/validators.py
  src/backend/utils/validators.py
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/web/.dockerignore
  src/web/.dockerignore
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/web/.env.example
  src/web/.env.example
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/web/.eslintrc.js
  src/web/.eslintrc.js
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/web/.gitignore
  src/web/.gitignore
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/web/.prettierrc
  src/web/.prettierrc
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/web/Dockerfile
  src/web/Dockerfile
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/web/README.md
  src/web/README.md
Owners: @documentation-team

.github/CODEOWNERS:

# When pull requests are created that modify code in these defined areas, the configured
# owners will be automatically requested for review.
#
# For more information about CODEOWNERS, see:
# https://docs.github.com/en/repositories/managing-your-repositories-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repo (fallback)
* @project-maintainers

# Backend code ownership
src/backend/auth/* @auth-team @security-lead
src/backend/interactions/* @backend-team @interaction-lead
src/backend/sites/* @backend-team @site-context-lead
src/backend/tests/* @qa-team @backend-team

# Frontend code ownership
src/web/src/components/auth/* @frontend-team @auth-team
src/web/src/components/finder/* @frontend-team @ui-lead
src/web/src/components/interaction/* @frontend-team @forms-lead
src/web/tests/* @qa-team @frontend-team
src/web/cypress/* @qa-team @e2e-test-lead

# Infrastructure and DevOps
infrastructure/* @devops-team @infrastructure-lead
.github/workflows/* @devops-team @ci-lead

# Documentation
docs/* @documentation-team @tech-writer
*.md @documentation-team
