Repository bsalter/architect-2-xj6f1a, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-maintainers, @auth-team, @security-lead, @backend-team, @interaction-lead, @site-context-lead, @qa-team, @frontend-team, @ui-lead, @forms-lead, @e2e-test-lead, @devops-team, @infrastructure-lead, @ci-lead, @documentation-team, @tech-writer

.github/CODEOWNERS:

# When pull requests are created that modify code in these defined areas, the configured
# owners will be automatically requested for review.
#
# For more information about CODEOWNERS, see:
# https://docs.github.com/en/repositories/managing-your-repositories-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repo (fallback)
* @project-maintainers

# Backend code ownership
src/backend/auth/* @auth-team @security-lead
src/backend/interactions/* @backend-team @interaction-lead
src/backend/sites/* @backend-team @site-context-lead
src/backend/tests/* @qa-team @backend-team

# Frontend code ownership
src/web/src/components/auth/* @frontend-team @auth-team
src/web/src/components/finder/* @frontend-team @ui-lead
src/web/src/components/interaction/* @frontend-team @forms-lead
src/web/tests/* @qa-team @frontend-team
src/web/cypress/* @qa-team @e2e-test-lead

# Infrastructure and DevOps
infrastructure/* @devops-team @infrastructure-lead
.github/workflows/* @devops-team @ci-lead

# Documentation
docs/* @documentation-team @tech-writer
*.md @documentation-team

Add public-samples/architect-2-xj6f1a/src/web/index.html
  src/web/index.html
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/web/package.json
  src/web/package.json
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/web/postcss.config.js
  src/web/postcss.config.js
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/web/tailwind.config.ts
  src/web/tailwind.config.ts
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/web/vite.config.ts
  src/web/vite.config.ts
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/web/cypress/tsconfig.json
  src/web/cypress/tsconfig.json
Owners: @qa-team, @e2e-test-lead

Add public-samples/architect-2-xj6f1a/src/web/cypress/e2e/auth.cy.ts
  src/web/cypress/e2e/auth.cy.ts
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/web/cypress/e2e/finder.cy.ts
  src/web/cypress/e2e/finder.cy.ts
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/web/cypress/e2e/interaction-form.cy.ts
  src/web/cypress/e2e/interaction-form.cy.ts
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/web/cypress/e2e/site-context.cy.ts
  src/web/cypress/e2e/site-context.cy.ts
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/web/cypress/fixtures/interactions.json
  src/web/cypress/fixtures/interactions.json
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/web/cypress/fixtures/sites.json
  src/web/cypress/fixtures/sites.json
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/web/cypress/fixtures/users.json
  src/web/cypress/fixtures/users.json
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/web/cypress/support/commands.ts
  src/web/cypress/support/commands.ts
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/web/cypress/support/e2e.ts
  src/web/cypress/support/e2e.ts
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/web/public/robots.txt
  src/web/public/robots.txt
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/web/src/App.tsx
  src/web/src/App.tsx
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/web/src/index.tsx
  src/web/src/index.tsx
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/web/src/vite-env.d.ts
  src/web/src/vite-env.d.ts
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/web/src/api/auth.ts
  src/web/src/api/auth.ts
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/web/src/api/client.ts
  src/web/src/api/client.ts
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/web/src/api/interactions.ts
  src/web/src/api/interactions.ts
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/web/src/api/sites.ts
  src/web/src/api/sites.ts
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/web/src/assets/icons/index.ts
  src/web/src/assets/icons/index.ts
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/web/src/assets/styles/components.css
  src/web/src/assets/styles/components.css
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/web/src/assets/styles/index.css
  src/web/src/assets/styles/index.css
Owners: @project-maintainers

Add public-samples/architect-2-xj6f1a/src/web/src/components/auth/ForgotPasswordForm.tsx
  src/web/src/components/auth/ForgotPasswordForm.tsx
Owners: @frontend-team, @auth-team

Add public-samples/architect-2-xj6f1a/src/web/src/components/auth/LoginForm.tsx
  src/web/src/components/auth/LoginForm.tsx
Owners: @frontend-team, @auth-team

Add public-samples/architect-2-xj6f1a/src/web/src/components/auth/LogoutButton.tsx
  src/web/src/components/auth/LogoutButton.tsx
Owners: @frontend-team, @auth-team

Add public-samples/architect-2-xj6f1a/src/web/src/components/auth/PasswordResetForm.tsx
  src/web/src/components/auth/PasswordResetForm.tsx
Owners: @frontend-team, @auth-team

Add public-samples/architect-2-xj6f1a/src/web/src/components/finder/AdvancedFilters.tsx
  src/web/src/components/finder/AdvancedFilters.tsx
Owners: @frontend-team, @ui-lead

Add public-samples/architect-2-xj6f1a/src/web/src/components/finder/EmptyState.tsx
  src/web/src/components/finder/EmptyState.tsx
Owners: @frontend-team, @ui-lead

Add public-samples/architect-2-xj6f1a/src/web/src/components/finder/FilterPanel.tsx
  src/web/src/components/finder/FilterPanel.tsx
Owners: @frontend-team, @ui-lead

Add public-samples/architect-2-xj6f1a/src/web/src/components/finder/FilterTag.tsx
  src/web/src/components/finder/FilterTag.tsx
Owners: @frontend-team, @ui-lead

Add public-samples/architect-2-xj6f1a/src/web/src/components/finder/InteractionFinder.tsx
  src/web/src/components/finder/InteractionFinder.tsx
Owners: @frontend-team, @ui-lead

Add public-samples/architect-2-xj6f1a/src/web/src/components/finder/InteractionTable.tsx
  src/web/src/components/finder/InteractionTable.tsx
Owners: @frontend-team, @ui-lead

Add public-samples/architect-2-xj6f1a/src/web/src/components/finder/InteractionTableRow.tsx
  src/web/src/components/finder/InteractionTableRow.tsx
Owners: @frontend-team, @ui-lead

Add public-samples/architect-2-xj6f1a/src/web/src/components/finder/SearchBar.tsx
  src/web/src/components/finder/SearchBar.tsx
Owners: @frontend-team, @ui-lead

Add public-samples/architect-2-xj6f1a/src/web/src/components/finder/SortSelector.tsx
  src/web/src/components/finder/SortSelector.tsx
Owners: @frontend-team, @ui-lead
